#hlavicka {
  border-bottom: 2px solid gray;
  height: 145px;
}
* html #hlavicka { height: 152px; }

  #hlavicka #logo {
    display: block;
    position: absolute;
    top: 14px; left: 18px;
    height: 140px; width: 95px;
  }
  * html #hlavicka #logo { top: 10px; }
  #hlavicka #logo img {
    position: relative;
    top: 16px;
    border: none;
    z-index: 5;
  }

  #hlavicka h1, #hlavicka h2 {
    position: absolute;
    left: 140px;
    margin: 0;
  }
  #hlavicka h1 {
    top: 75px;
    font-size: 14pt;
    line-height: 1.1em;
  }

  #hlavicka h2 {
    top: 55px;
    font-size: 9pt;
  }
  #hlavicka h2 a { text-decoration: none; }
  
  #hlavicka .drobecky {
    position: absolute;
    left: 140px;
    top: 125px;
    width: 450px;
    background: none;
    font-size: 9pt;
  }

  #identita {
    float: right;
    text-align: right;
    font-size: 10pt;
    width: 280px;
    line-height: 1.4em;
  }
    #identita img { display: none; }
    #id-jazyk { display: none; }
    #id-obdobi, #id-fakulta, #id-studium {
      margin-top: 3px;
      padding: 0;
    }
    
    #id-uzivatel {
      background: none;
      padding: 0;
      /*padding-top: 5pt;
      line-height: 1.9pt;*/
    }
  
#meta {
  text-align: right;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
  float: right;
}
  #meta img {
    border: none;
    margin-right: 0.2em;
  }

#n-posta { display: none; }

#paticka {
  clear: both;
  width: 100%;
  padding-top: 0;
  background: none;
  font-size: 9pt;
}
  #paticka-obsah {
    padding: 0;
    background: none;
  }

  #odkazy-rel { display: none; }
  #odkazy-vlastni { display: none; }

  #paticka a.ico, #paticka .nahoru { display: none; }
  
a.nahoru {
  padding: 0;
  margin-right: 0.3em;
  background: none;
  display: block;
  height: 20px;
  float: left;
}

/* odkazy */
a { color: #002776; }
  a:visited { color: #663399; }
  a:active { color: #F07800; }
  a:hover { color: #2D66CF; }

/* nadpisy */
h1, h2, h3, h4, h5 {
  color: #002776; 
}
h3 { font-size: 1.2em }

.ap-help {
  color: green;
  font-size: 0.9em;
  /*padding-left: 2em;*/
}

/* PRVKY */

#trvmodd { display: none; }

/* boxy */

.varovani { border: 1px solid #e1771c; }
.chyba { border: 1px solid red; }

table.data1, th, td { border: 1px solid #D3D3D3 !important; border-collapse: collapse; }

