* {

}

#main {
    position: relative;
}

.subject {
    position: absolute;
    display: inline-block;
    border: 1px solid black;
    width: 200px;
    height: 100px;
    z-index: 2;
    background-color: white;
}

.line {
    position: absolute;
    display: inline-flex;
    border: 1px solid blue;
    text-align: center;
    height: 0px;
    background-color:blue;
    overflow: visible;
    transform-origin: left center;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.line > span {
    background-color:white;
    padding: 0px 5px;
}
